.nav-link{
    color: #003462;
    font-weight: bold;
}
.nav-link:hover{
    color: #0275d8;
    font-weight: bold;
}
#icone_home{
    color: #003462;
}
#botao_home{
    background-color: #003462;
}
#botao_home:hover{
    color: #003462;;
    font-weight: bold;
    background-color: white;
    border-color: #003462;
}
#titulo_page{
    color: #003462;
}
#descritivo{
    color: #003462;
    font-weight: bold;
}